@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: "Abyssopelagic";
    src: url('/src/assets/abyssopelagic.otf') format('opentype');
}

:root {
    --cor1: #579CB4;
    --cor2: #84D4F4;
    --cor3: #243C4C;
    --cor4: #658896;
    --cor5: #8CBCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body { 
    background-color: var(--cor2);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background: var(--cor3);
    position: fixed;
}

header h1 a{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 60px;
    padding-left: 20px;
    color: black;
}

header h1 a:hover {
    color: white;
}

#menu {
    display: flex;
    padding: 20px;
}

#menu a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

#menu a:hover {
    color: white;
}

#btnLogin {
    background-color: var(--cor1);
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 300px;
}

#btnLogin:hover {
    font-size: 20px;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

span#burguer {
    display: none;
    padding-top: 15px;
    padding-right: 1%;
    font-size: 40px;
}

#burguer:hover {
    cursor: pointer;
    color: white;
    
}


section {
    min-height: 65vh;
    width: 60%;
    padding-top: 10%;
    margin: auto;
    
}

section div h2 {
    font-family: "Abyssopelagic", sans-serif;
    font-weight: 900;
    width: 300px;
    font-size: 60px;
    padding: 2rem;
    margin-right: auto;
}

section div p {
    padding: 60px;
    text-align: justify;
    width: 25%;
    line-height: 2rem;
}

div {
    justify-content: space-between;
    display: flex;
    margin: auto;
    max-width: 100%;
    background-color: var(--cor4);
    border-radius: 20px;
    min-height: 600px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

div img, iframe {
    height: 550px;
    width: 500px;
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

/* Responsividade */

@media (max-width: 1700px) {
    section {
        width: 80%;
    }
}

@media (max-width: 1500px) {
    section {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    span#burguer {
        display: block;
    }

    #menu {
        display: none;
        
    }

    section {
        padding-top: 40vh;
        width: 100%;
    }

    div img, iframe {
        height: 450px;
        width: 450px;
        margin-top: 12%;
    }
 
}

@media (max-width: 1002px) {
    section {
        width: 80%;
    }

    div {
        display: block;
        text-align: center;
    }

    div h2 {
        text-align: center;
        margin: auto;
    }

    div img, iframe {
        height: 550px;
        width: 500px;
        margin-top: 12%;
    }
    
    section div p {
        width: 100%;
        text-align: justify;
    }
}

@media (max-width: 666px) {
    div img, iframe {
        height: 450px;
        width: 400px;
    }
}

@media (max-width: 520px) {
    div img, iframe {
        height: 350px;
        width: 300px;
    }
}

@media (max-width: 450px) {
    section div h2 {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    div img, iframe {
        height: 300px;
        width: 250px;
    }
}
